body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image:url("Images/wallpaper.png");
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.input-group-addon {
    border-left-width: 0;
    border-right-width: 0;
}

    .input-group-addon:first-child {
        border-left-width: 1px;
    }

    .input-group-addon:last-child {
        border-right-width: 1px;
    }

.title {
    color:white;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

/*.footer {
    position: fixed;
    bottom: 10px;
    width: 1140px;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
