
@{
    ViewBag.Title = "ReleaseNotes";
}

<h2 class="title">ReleaseNotes</h2>

<div class="panel panel-success">
    <div class="panel-heading">
        <h1 class="panel-title">0.3.6 - Current Version</h1>
    </div>
    <div class="panel-body">
        <ul>
            <li>An API is now available (documentation is coming soon)</li>
            <li>Event name is now required when saving an event</li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">0.3.5 - Current Version</h1>
    </div>
    <div class="panel-body">
        <ul>
            <li>Added a Release Notes section</li>
            <li>Added a PayPal donation link</li>
            <li>Fixed a bug with the Past Event filters when left empty</li>
            <li>Past event filter now defaults to 1 day instead of 2</li>
            <li>Added the timezone (GMT) to the End Time of the events</li>
            <li>Sorted the events by Time to End (shortest first)</li>
            <li>Fixed a bug where the Time to End for past events would sometimes incorrectly not show days</li>
            <li>Fixed the wallpaper so that it now extends farther before repeating</li>
            <li>When creating a new event or saving an existing one, the message 'Time To End is required' will only appear once (if no value is provided) </li>
            <li>Both event grids will now display better on mobile</li>
            <li>A few more behind the scene changes</li>
        </ul>

        <br />
        <h5>Hotfix 0.3.5.1</h5>
        <hr />
        <ul>
            <li>Behind the scene fix</li>
        </ul>

        <br />
        <h5>Hotfix 0.3.5.2</h5>
        <hr />
        <ul>
            <li>Behind the scene changes</li>
        </ul>

        <br />
        <h5>Hotfix 0.3.5.3</h5>
        <hr />
        <ul>
            <li>Behind the scene fixes to previous behind the scene changes</li>
            <li>Fixed a small display issue on the event grids</li>
        </ul>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">0.3.4</h1>
    </div>
    <div class="panel-body">
        <ul>
            <li>Various behind the scene changes</li>
        </ul>
    </div>
</div>

@*

    -- NEW VERSION TEMPLATE

    <div class="panel panel-success">
        <div class="panel-heading">
            <h1 class="panel-title">0.3.5 - Current Version</h1>
        </div>
        <div class="panel-body">
            <ul>
                <li></li>
            </ul>
        </div>
    </div>

    -- HOTFIX TEMPLATE

    <br />
    <h5>Hotfix 0.3.5.1</h5>
    <hr />
    <ul>
        <li>Background fix</li>
    </ul>

*@