
@{
    ViewBag.Title = "API documentation";
}

<h2 class="title">API Documentation</h2>

<div class="panel panel-primary">
    <div class="panel-heading"><h1 class="panel-title">About API Keys</h1></div>
    <div class="panel-body">
        <p>You need an API Key to use the API. Use the <code>X-API-KEY</code> to include the API key in a request. Any request to the API which does not include an API key will be refused</p>
        <p><strong>@Html.ActionLink("Click here", "register")</strong> to register for an API Key</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h1 class="panel-title">API Endpoints</h1></div>
    <div class="panel-body">
        <h4>API enpoint documentation coming soon</h4>
    </div>
</div>